/* Testing ground for CSS styling in Odin Recipes */

* {
    font-family: sans-serif;
    background-color: #F8F7F7;
}

#title {
    text-align: center;
    width: 400px;
    margin: auto;

}

.main {
    color: #F8F7F7;
    background-color: #46584B;
}