/* Testing ground for CSS styling in Odin Recipes */

* {
    font-family: sans-serif;
    background-color: #BEAA9D;
}

#title {
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: #371305;
}

.main {
    color: #F8F7F7;
    margin: 8px;
}

.recipes,
#title {
    background-color: #AC8165;
}
.recipes {
    border-color: #371305;
    border-style: solid;
    margin: 8px;
    padding: 10px;
    width: 33%;
    color: #F8F7F7;
}