/* Testing ground for CSS styling in Odin Recipes */

* {
    font-family: sans-serif;
    background-color: #BEAA9D;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-list {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;  
    gap: 50px;
}


#title {
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: #371305;
    margin-bottom: 30px;
}

.main {
    color: #F8F7F7;
    margin: 8px;
}

.recipes,
#title {
    background-color: #AC8165;
}
.recipes {
    border-color: #371305;
    border-style: solid;
    padding: 10px;
    width: auto;
    color: #F8F7F7;
    align-items: flex-start;
}
